<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>QuotingDojo</title>
</head>
	 <h1>Welcome to QuotingDojo</h1>
	 <form action="/users" method="post" >
	 	   <input type="type" name="name" placeholder="Name">
	 	   <textarea name="quote" rows="5" cols="20" > </textarea>
	 	   <input type="submit" value="Add My Quote">
	 </form>
	 <button><a href="/show">Skip to Quotes</a></button>
<body>

</body>
</html>